<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Reservas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

    <style>
        .card {
            background: #2a2f3a;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        :root {
            --bg: #f3f3f3;
            --red: rgb(250, 71, 71);
            --transition-easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        a.pdf {
            background: #0063a0;
            border-radius: 4px;
            box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
            color: #ffffff;
            padding: 3px 10px 4px;
            display: inline-block;
            position: relative;
            text-decoration: none;
            transition: all 0.1s 0s ease-out;
        }

        a.edit {
            background: #ffae00;
            border-radius: 4px;
            box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
            color: #ffffff;
            padding: 3px 10px 4px;
            display: inline-block;
            position: relative;
            text-decoration: none;
            transition: all 0.1s 0s ease-out;
        }

        a.delete {
            background: #c10303;
            border-radius: 4px;
            box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
            color: #ffffff;
            padding: 3px 10px 4px;
            display: inline-block;
            position: relative;
            text-decoration: none;
            transition: all 0.1s 0s ease-out;
        }

        .page-wrapper {
            padding-top: 5%;
            display: flex;
            -webkit-display: flex;
            justify-content: space-around;
        }

        .card-wrapper {
            box-sizing: border-box;
            background: #1f2029;
            border-radius: 6px;
            max-height: 100px;
            overflow: hidden;
            padding: 2rem;
            width: 400px;
            transition: max-height 500ms ease-in-out;
        }

        .card-wrapper:hover {
            box-shadow: 0 0 8px rgba(20, 20, 20, 0.2);
            cursor: pointer;
            max-height: 1000px;
        }

        .card-details,
        .reveal-details {
            font-weight: 300;
        }

        .reveal-details {
            margin-top: 10px;
        }

        .card-height-animate {
            height: auto;
        }

        .pdf {
            max-height: auto;
        }

        .custom-btn {
            width: 130px;
            height: 40px;
            color: #fff;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow: inset 2px 2px 2px 0px rgba(31, 31, 31, 0.5),
                7px 7px 20px 0px rgba(0, 0, 0, .1),
                4px 4px 5px 0px rgba(0, 0, 0, .1);
            outline: none;
        }

        .btn-2 {
            background: rgb(96, 9, 240);
            background: linear-gradient(0deg, rgb(84, 16, 192) 0%, rgb(98, 5, 180) 100%);
            border: none;

        }

        .btn-2:before {
            height: 0%;
            width: 2px;
        }

        .btn-2:hover {
            box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5),
                -4px -4px 6px 0 rgba(26, 26, 26, 0.5),
                inset -4px -4px 6px 0 rgba(46, 46, 46, 0.2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
        }

        .custom-accordion {

            border-color: #363843;
            /* Color del borde al enfocar */
        }

        /* Estilo personalizado para el acordeón */
        .custom-accordion .accordion-button {
            box-shadow: none;
            background-color: #1a1b21;
            /* Color de fondo */
            color: white;
            /* Color del texto */
        }

        .bxs-lock-alt {
            background-color: #0026ff;
        }

        .custom-accordion .accordion-button:hover {
            background-color: #3b3c4b;
            /* Color de fondo al pasar el mouse */
        }

        .custom-accordion .accordion-collapse {
            background-color: #1f2029;
            color: #ffffff;
        }

        input.sw {
            opacity: 0;
            position: absolute;
            left: -9999px;
        }

        input.sw+label {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: 0.2s ease;
            display: inline-block;
            height: 30px;
            width: 51px;
            position: relative;
            box-shadow: inset 0 0 0px 2px #e4e4e4;
            border-radius: 60px;
            /* White toggle */
        }

        input.sw+label:before {
            content: "";
            position: absolute;
            display: block;
            height: 30px;
            width: 30px;
            top: 0;
            left: 0;
            border-radius: 15px;
            background: rgba(76, 217, 100, 0);
            transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
        }

        input.sw+label:after {
            content: "";
            position: absolute;
            display: block;
            height: 28px;
            width: 28px;
            top: 50%;
            margin-top: -14px;
            left: 1px;
            border-radius: 60px;
            background: #fff;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0px 0 rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.13), 0 3px 3px rgba(0, 0, 0, 0.05);
            transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
        }

        input.sw+label span {
            white-space: nowrap;
            height: 30px;
            line-height: 30px;
            margin-left: 51px;
            padding-left: 16px;
        }

        input.sw:checked+label:before {
            width: 51px;
            background: #4cd964;
            transition: width 0.2s cubic-bezier(0, 0, 0, 0.1) !important;
        }

        input.sw:checked+label:after {
            left: 22px;
        }

        input.sw:checked+label {
            box-shadow: inset 0 0 0px 25px #e4e4e4;
            transition: box-shadow 2.5s cubic-bezier(0, 1.2, 0.94, 0.95);
        }

        #search {
            top: 45px;
            display: block;
            position: absolute;
            z-index: 2 !important;
        }

        .search-container {
            position: relative;
        }

        .search-container .search {
            top: 45px;
            display: block;
            position: absolute;
            z-index: 2 !important;
        }

        #search::after {
            display: block;
            position: absolute;
            z-index: 2 !important;
        }

        #search::before {
            display: block;
            position: absolute;
            z-index: 1 !important;
        }

        #search::after {
            display: block;
            position: absolute;
            z-index: 2 !important;
        }

        .list-group-color {
            background: #1f2029;
            color: #fff;
        }

        .list-group-disabled-bg {
            background: #1f2029 !important;
            color: #fff !important;
        }

        .list-group-create-color {
            background: #1f2029;
            color: #45acdf;
        }

        .list-group-create-color:hover {
            background: #2a2f3a;
            color: #45acdf;
        }

        .list-group-color:hover,
        .list-group-disabled-color:hover {
            background: #2a2f3a;
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="card-header">
            <div class="input-group">
                <h3 class="mb-0"><strong>Reservas</strong> &nbsp;</h3>
            </div><br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="">Fecha del tour</label>
                        <input type="date" name="FechaReserva" id="FechaReserva" class="form-style mayusculas ">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="">Fecha de registro</label>
                        <input type="date" name="FechaRegistro" id="FechaRegistro" class="form-style mayusculas ">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="form-label">Tipo de cliente</label>
                        <select class="form-styleSelect Select" multiple="multiple" name=""
                            id="CategoriaReserva">
                            <% resultsCategoria.forEach((Categoria)=>{ %>
                                <option value="<%= Categoria.Id_Categoria %>">
                                    <%= Categoria.Categoria %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="">Tour</label>
                        <select class="form-styleSelect Select" name="" id="tour" multiple>
                            <% resultsTours.forEach((Tours)=>{ %>
                                <option value="<%= Tours.Id_Tour %>">
                                    <%= Tours.NombreTour %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="">Id de reserva</label>
                        <input type="text" name="reserva" id="Id_Reserva" class="form-style mayusculas " autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="">Nombres y Apellidos del pasajero</label>
                        <input type="text" name="NombreApellido" id="NombreApellido" class="form-style mayusculas " autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="">DNI del pasajero</label>
                        <input type="text" name="id" id="IdPas" class="form-style mayusculas " autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="">Punto de Encuentro</label>
                        <input type="text" name="Punto" id="Punto" class="form-style mayusculas " autocomplete="off">
                        <div class="search">
                            <span id="search_result_Punto"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group mx-sm-3 mb-2">
                        <label class="fw-bold">Estado de la reserva</label>
                        <select class="form-styleSelect" name="Estado" id="Estado" multiple="multiple">
                            <option value="Activo">ACTIVO</option>
                            <option value="Pendiente">PENDIENTE</option>
                            <option value="Completado">COMPLETADO</option>
                            <option value="Cancelado">CANCELADO</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <br>
                    <div class="mx-sm-3 mb-2">
                        <input type="checkbox" id="empty" name="toggle" value="Check" class="mx-sm-3 mb-2 sw"> <label
                            for="empty"><span>Sin información</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group mx-sm-3 mb-2">
                        <button class="custom-btn btn-2 " id="filtrar">Filtrar</button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>


        <div class="card-body">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <!-- Aquí se insertarán los elementos del acordeón dinámicamente -->
            </div>
            <div id="NoData">No hay datos disponibles</div>
        </div>
    </div>

    <script>

        var zindex = 10;

        $("#NoData").hide();

        const input = document.getElementById('Punto');
        const searchResults = document.getElementById('search_result_Punto');
        input.addEventListener("focus", () => {
            const search = searchResults;
            search.style.display = "block";
        });

        input.addEventListener("blur", () => {
            const search = searchResults;
            setTimeout(() => {
                search.style.display = "none";
            }, 200); // Agregamos un pequeño retardo para asegurarnos de que no se borre inmediatamente el spam
        });

        input.addEventListener('keyup', () => {
            const query = input.value.trim();
            load_data(query);
        });

        load_data = (query = '') => {
            fetch('/autocompletar?search_query=' + query).then(function (response) {

                return response.json();

            }).then(function (responseData) {

                var html = '<ul class="list-group">';

                if (responseData.length > 0) {
                    for (var count = 0; count < responseData.length; count++) {
                        var regular_expression = new RegExp('(' + query + ')', 'gi');

                        html += '<a class="list-group-item list-group-item-action list-group-color" onclick="get_text(this);">' + responseData[count].NombrePunto.replace(regular_expression, '<span class="text-primary fw-bold">$1</span>') + '</a>';
                    }
                }
                else {
                    html += '<a class="list-group-item list-group-item-action list-group-disabled-bg disabled ">No hay datos</a>';
                }

                html += '</ul>';

                document.getElementById('search_result_Punto').innerHTML = html;

            });
        }

        function get_text(event) {
            var Punto_name = event.textContent;
            document.getElementById('Punto').value = Punto_name;
            document.getElementById('search_result_Punto').innerHTML = '';
        }

        // Función para cargar información de pasajeros al hacer clic
        load_Pas = (Id_Reserva) => {
            fetch('/VerRervas/Pasajeros?Id_Reserva=' + Id_Reserva + '').then(function (response) {
                return response.json();
            }).then(function (responseData) {
                var html = '<h4>Pasajeros</h4>';
                html += '<table class="table table-dark table-striped table-hover">';
                html += '<thead>';
                html += '<th>Nombre</th>';
                html += '<th>Identificación</th>';
                html += '<th>Precio</th>';
                html += '</thead>';
                html += '<tbody>';
                if (responseData.length > 0) {
                    for (var count = 0; count < responseData.length; count++) {
                        html += '<tr>';
                        html += '<td>';
                        html += responseData[count].NombrePasajero;
                        html += '</td>';
                        html += '<td>';
                        html += responseData[count].IdPas;
                        html += '</td>';
                        html += '<td>';
                        html += responseData[count].PrecioTour;
                        html += '</td>';
                        html += '</tr>';
                    }
                }
                html += '</tbody>';
                html += '</table>';
                $("#" + Id_Reserva + " .pasajeros").html(html);
            });
        };

        Filtro = (selectionTour = '', FechaReserva = '', FechaRegistro = '', CategoriaReserva = '', Id_Reserva = '', IdPas = '', Empty = '', NombreApellido = '', Punto = '', Estado = '') => {
            fetch('/VerReservas/FiltroVerReservas?selectionTour=' + selectionTour + '&FechaReserva=' + FechaReserva + '&FechaRegistro=' + FechaRegistro + '&CategoriaReserva=' + CategoriaReserva + '&Id_Reserva=' + Id_Reserva + '&IdPas=' + IdPas + '&Empty=' + Empty + '&NombreApellido=' + NombreApellido + '&Punto=' + Punto + '&Estado=' + Estado + '').then(function (response) {
                return response.json();
            }).then(function (responseData) {
                var accordionContainer = document.getElementById("accordionFlushExample");

                // Limpiar contenido existente en el contenedor
                accordionContainer.innerHTML = '';

                if (responseData.length > 0) {
                    $("#NoData").hide();

                    responseData.forEach(function (Reserva, index) {
                        var collapseId = "flush-collapse" + index;
                        var cardHTML = `
                                <div class="accordion-item custom-accordion">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#${collapseId}" aria-expanded="false" aria-controls="${collapseId}" onclick="load_Pas('${Reserva.Id_Reserva}')">
                                            Reserva ${Reserva.Id_Reserva} ${(Reserva.TipoReserva == "Privada") ? '<i class="bx bxs-lock-alt"></i>' : ''}
                                        </button>
                                    </h2>
                                    <div id="${collapseId}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body" id="${Reserva.Id_Reserva}">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-4 mb-3">
                                                        <div class="col-md-12 mb-3">
                                                            <img src="/img/LogoMaxitoursPNG.png" alt="Logo" width="200" id="img${Reserva.Id_Reserva}">
                                                        </div>    
                                                        <div class="col-12">
                                                            <h1>${Reserva.Id_Reserva}</h1>
                                                        </div>   
                                                        <div class="col-12">
                                                            <h3>Estado: ${Reserva.Estado}</h3>
                                                        </div>                    
                                                    </div>       
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <p>Fecha del Tour: ${Reserva.FechaReserva}</p>
                                                            </div>
                                                            <div class="col-sm-6" id="IdiomaReserva${Reserva.Id_Reserva}">
                                                                <p id="IdiomaReserva${Reserva.Id_Reserva}">Idioma: ${Reserva.IdiomaReserva}</p>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p>Tour: ${Reserva.NombreTour}</p>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p id="HoraSalida${Reserva.Id_Reserva}">Hora de Recogida: ${Reserva.HoraSalida}</p>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p id="PuntoEncuentro${Reserva.Id_Reserva}">Punto de Encuentro: ${Reserva.PuntoEncuentro}</p>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p>Número de Pasajeros: ${Reserva.NumeroPasajeros}</p>
                                                            </div>
                                                            <div class="col-sm-6" id="FechaRegistro${Reserva.Id_Reserva}">
                                                                <p>Fecha de registro: ${Reserva.FechaRegistro}</p>
                                                            </div>
                                                            <div class="col-sm-6" id="TelefonoReserva${Reserva.Id_Reserva}">
                                                                <p>Teléfono Reserva: ${Reserva.TelefonoReserva}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="pasajeros"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <div class="cardd-actions">
                                                            <a class="pdf" onclick="downloadPDF('${collapseId}','${Reserva.Id_Reserva}');">
                                                                <iconify-icon icon="material-symbols:download" style="color: white;" width="30" height="30"></iconify-icon>
                                                            </a>
                                                            <a href="../Reservas/EditarReserva/${Reserva.Id_Reserva}" class="edit">
                                                                <iconify-icon icon="material-symbols:edit" style="color: white;" width="30" height="30"></iconify-icon>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
`;

                        accordionContainer.innerHTML += cardHTML;
                    });
                } else {
                    $("#NoData").show();
                }
            });
        }

        $("#filtrar").click(function () {
            var tour = $('#tour').val();
            var FechaReserva = $('#FechaReserva').val();
            var FechaRegistro = $('#FechaRegistro').val();
            var CategoriaReserva = $('#CategoriaReserva').val();
            var Id_Reserva = $('#Id_Reserva').val();
            var IdPas = $('#IdPas').val();
            var NombreApellido = $('#NombreApellido').val();
            var Empty = '';
            var Punto = $("#Punto").val();
            var Estado = $("#Estado").val();
            $("#empty").each(function () {
                if ($(this).is(":checked")) {
                    Empty = $(this).val();
                }
            })
            if ((tour != '') || (FechaReserva != '') || (FechaRegistro != '') || (CategoriaReserva != '') || (Id_Reserva != '') || (IdPas != '') || (Empty != '') || (NombreApellido != '') || (Punto != '') || (Estado != '')) {
                Filtro(tour, FechaReserva, FechaRegistro, CategoriaReserva, Id_Reserva, IdPas, Empty, NombreApellido, Punto, Estado);
            }
        });

        function downloadPDF(collapseId, Id_Reserva) {
            // Ocultar los elementos de acciones antes de iniciar la generación del PDF
            $('.cardd-actions').hide();
            $('#Ruta' + Id_Reserva).hide();
            $('#FechaRegistro' + Id_Reserva).hide();
            $('#TelefonoReserva' + Id_Reserva).hide();

            const { jsPDF } = window.jspdf;
            const element = document.getElementById(collapseId);

            // Obtener dimensiones de la ventana del navegador
            const screenWidth = window.innerWidth;
            const screenHeight = window.innerHeight;

            // Decide la orientación del PDF en función del tamaño de la pantalla
            let orientation = 'portrait';
            if (screenWidth > screenHeight) {
                orientation = 'landscape';
            }

            html2canvas(element).then(canvas => {
                const imgData = canvas.toDataURL('image/png');
                const imgWidth = canvas.width;
                const imgHeight = canvas.height;

                // Configura el tamaño de página de jsPDF igual al tamaño de la imagen capturada
                const pdf = new jsPDF(orientation, 'pt', [imgWidth, imgHeight]);

                // Agrega la imagen al PDF
                pdf.addImage(imgData, 'PNG', 0, 0, imgWidth, imgHeight);

                // Guarda el PDF con un nombre personalizado
                pdf.save(Id_Reserva + ".pdf");

                // Mostrar los elementos de acciones después de completar la generación del PDF
                $('.cardd-actions').show();
                $('#Ruta' + Id_Reserva).show();
                $('#FechaRegistro' + Id_Reserva).show();
                $('#TelefonoReserva' + Id_Reserva).show();

            });
        }

        $(document).on('keydown', function (event) {
            if (event.key === "Enter") {
                $("#filtrar").click();
            }
        });



    </script>


</body>

</html>