<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <link rel="shortcut icon" href="../resources/img/SIR.png" />
    <style>
        html {
            background: url(resources/img/img2.jpeg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            overflow: hidden;
        }

        #img {
            max-width: 600px;
            max-height: 600px;
        }

        img {
            display: block;
            margin: auto;
            width: 100%;
            height: auto;
        }

        #logo {
            padding-top: 30px;
            width: 70%;
            margin: auto;
        }

        #login-button {
            cursor: pointer;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 50px;
            padding: 30px;
            margin: auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: transparent;
            overflow: hidden;
            opacity: 1;
            box-shadow: 10px 10px 30px #000;
        }

        /* Login container */
        #container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            max-width: 500px;
            max-height: 500px;
            border-radius: 5px;
            background: rgba(3, 3, 3, 0.25);
            box-shadow: 1px 1px 50px #000;
            display: none;
        }

        .close-btn {
            position: absolute;
            cursor: pointer;
            font-family: 'Open Sans Condensed', sans-serif;
            line-height: 18px;
            top: 5px;
            right: 3px;
            width: 25px;
            height: 25px;
            text-align: center;
            border-radius: 10px;
            opacity: .2;
            -webkit-transition: all 2s ease-in-out;
            -moz-transition: all 2s ease-in-out;
            -o-transition: all 2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        .close-btn:hover {
            opacity: .5;
        }

        #form {
            padding: 30px;
        }

        /* Heading */
        h1 {
            font-family: 'Open Sans Condensed', sans-serif;
            position: relative;
            margin-top: 40px;
            text-align: center;
            font-size: 40px;
            color: #ddd;
            text-shadow: 3px 3px 10px #000;
        }

        /* Inputs */
        #login,
        input {
            font-family: 'Open Sans Condensed', sans-serif;
            text-decoration: none;
            position: relative;
            width: 80%;
            display: block;
            margin: 9px auto;
            font-size: 17px;
            color: #fff;
            padding: 8px;
            border-radius: 6px;
            border: none;
            background: rgba(3, 3, 3, .1);
            -webkit-transition: all 2s ease-in-out;
            -moz-transition: all 2s ease-in-out;
            -o-transition: all 2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        input:focus {
            outline: none;
            box-shadow: 3px 3px 10px #333;
            background: rgba(3, 3, 3, .18);
        }

        /* Link */
        #login {
            text-align: center;
            padding: 4px 8px;
            background: rgba(107, 255, 3, 0.3);
        }

        #login:hover {
            opacity: 0.7;
        }

        #remember-container {
            position: relative;
            margin: -5px 20px;
        }

        .checkbox {
            position: relative;
            cursor: pointer;
            -webkit-appearance: none;
            padding: 5px;
            border-radius: 4px;
            background: rgba(3, 3, 3, .2);
            display: inline-block;
            width: 16px;
            height: 15px;
        }

        .checkbox:checked:active {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
        }

        .checkbox:checked {
            background: rgba(3, 3, 3, .4);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.5);
            color: #fff;
        }

        .checkbox:checked:after {
            content: '\2714';
            font-size: 10px;
            position: absolute;
            top: 0px;
            left: 4px;
            color: #fff;
        }

        #remember {
            position: absolute;
            font-size: 13px;
            font-family: 'Hind', sans-serif;
            color: rgba(255, 255, 255, .5);
            top: 7px;
            left: 20px;
        }

        #help {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            max-width: 300px;
            max-height: 200px;
            border-radius: 10px;
            background: rgba(3, 3, 3, 0.25);
            box-shadow: 1px 1px 50px rgb(24, 137, 4);
            display: none;
        }

        .alert {
            color: rgba(255, 0, 0, 0.682);
        }

        section {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .reloj {
            display: inline-block;
            color: #ffffff;
            padding: 30px;
            font-weight: bold;
            font-size: 100px;
            border-radius: 4px;
        }

        a {
            text-align: center;
            display: block;
            position: relative;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.626);
        }

        @media (max-width: 530px) {
            #container {
                margin-left: 10px;
                margin-right: 10px;
            }

            .reloj {
                font-size: 40px;
            }

            #img {
                margin-top: 60px;
            }

            #form {
                padding: 60px;
            }

            #logo {
                margin-top: 30px;
            }
        }
    </style>
</head>

<body>
    <section id="clock">
        <div class="reloj">
            <span id="tiempo">00 : 00 : 00</span>
        </div>
    </section>
    <center>
        <div id="img">
            <img src="resources/img/LogoMaxitoursPNG.png" alt="Logo" width="250" height="250" />
        </div>
    </center>
    <div id="login-button">
        <img src="resources/img/icons8-login-rounded-up-80.png">
        </img>
    </div>
    <div id="container">
        <div id="logo">
            <img src="resources/img/LogoMaxitoursPNG.png" alt="Logo" width="250" height="250" />
        </div>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
        </span>
        <form id="form" action="/login" method="post" name="form" autocomplete="off">
            <input type="text" name="user" placeholder="Usuario">
            <input type="password" name="pass" placeholder="Contraseña">
            <button type="submit" name="btn_login" class="btn-signin btn btn-primary" id="login">ENTRAR</button>
            <% if(typeof error !="undefined" ) { %>
                <div class="alert">
                    <center>
                        <strong>
                            <%= error %>
                        </strong>
                    </center>
                </div>
                <script>
                    $('#login-button,#clock,#img').fadeOut("slow", function () {
                        $("#container").fadeIn();
                        TweenMax.from("#container", .1, { scale: 0, ease: Sine.easeInOut });
                        TweenMax.to("#container", .1, { scale: 1, ease: Sine.easeInOut });
                    });
                </script>
                <% } %>

        </form>
        <a href="https://wa.me/573025783379?text=Necesito ayuda." target="_blank">Necesita Ayuda</a>
    </div>

    <script>
        $('#login-button').click(function () {
            $('#login-button,#clock,#img').fadeOut("slow", function () {
                $("#container").fadeIn();
                TweenMax.from("#container", .4, { scale: 0, ease: Sine.easeInOut });
                TweenMax.to("#container", .4, { scale: 1, ease: Sine.easeInOut });
            });
        });

        $(".close-btn").click(function () {
            TweenMax.from("#container", .4, { scale: 1, ease: Sine.easeInOut });
            TweenMax.to("#container", .4, { left: "0px", scale: 0, ease: Sine.easeInOut });
            $("#container, #help").fadeOut(800, function () {
                $("#login-button,#clock,#img").fadeIn(800);
            });
        });

        let html = document.getElementById("tiempo");

        setInterval(function () {
            tiempo = new Date();

            horas = tiempo.getHours();
            minutos = tiempo.getMinutes();
            segundos = tiempo.getSeconds();

            //evitar los 0 o numeros individuales
            if (horas < 10)
                horas = "0" + horas;
            if (minutos < 10)
                minutos = "0" + minutos;
            if (segundos < 10)
                segundos = "0" + segundos;

            html.innerHTML = horas + " : " + minutos + " : " + segundos;
        }, 1000);
    </script>

    <% if (typeof name !="undefined" ) { %>
        <script>
            window.location = '/';
        </script>
        <% } %>
</body>

</html>