<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        #pswd_info {
            margin-top: 40px;
            bottom: -25px;
            bottom: -115px\9;
            /* IE Specific */
            right: 55px;
            width: 250px;
            padding: 15px;
            background: #fefefe;
            font-size: .875em;
            border-radius: 5px;
            box-shadow: 0 1px 3px #ccc;
            border: 1px solid #ddd;
        }
    
        #pswd_info h4 {
            margin: 0 0 10px 0;
            padding: 0;
            font-weight: normal;
        }
    
        .invalid {
            background: url("http://promo.iacworld.org/offices/Campus/Activities/AV2/2015/OnlineForm/invalid-asterisk.png") no-repeat 0 50%;
            padding-left: 22px;
            line-height: 24px;
            color: #ec3f41;
        }
    
        .valid {
            background: url("http://fdata.over-blog.net/99/00/00/05/img/new/portal2-3/body/valid.png") no-repeat 0 50%;
            padding-left: 22px;
            line-height: 24px;
            color: #3a7d34;
        }
    
        #pswd_info {
            display: none;
        }
    
        #error {
            color: red;
            margin: 20px;
        }
    
        h1 {
            font-weight: 300;
            font-size: 26px;
            line-height: 3;
            margin-bottom: 25px;
            text-align: center;
    
        }
    
        .input-file {
            padding: 30px;
            width: 300px;
            margin: 0 auto;
            background: #ffffff;
            -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0);
        }
    
        .upload-img {
            border-radius: 100%;
            display: inline-block;
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position: 50% 50%;
            border: 5px solid #222e3c;
            margin-right: 15px;
            vertical-align: middle;
        }
    
    
        .input-file-upload input[type="file"] {
            opacity: 0;
            padding: 10px 0;
            height: 36px;
            width: 150px;
            margin-top: 20px;
        }
    
        #upload-label {
            width: 90px;
            height: 36px;
            border-radius: 10px;
            background: #3b70f1;
            text-align: center;
            color: #ffffff;
            display: block;
            padding: 8px 0;
            margin-top: 20px;
            position: absolute;
            line-height: normal;
            font-size: 14px;
            font-weight: 700;
            transition: all 0.3s ease-in-out;
        }
    
        .input-file-upload:hover .upload-label {
            background: #222e3c;
            color: #3b70f1;
        }
    
        #save {
            display: none;
        }
    </style>
</head>
<body>
    <main class="content">
        <div class="container-fluid p-0">
            <div class="container">
                <div class="card">
                    <form id="validationForm" method="POST" action="register" name="form" autocomplete="off">
                        <div class="row">
                            <div class="col-md">
                                <div class="card-header">
                                    <h2 class=" card-title ">Crear Usuario</h2>
                                </div>
                                <div class="card-body">
                                    <div class="col-md-5">
                                        <label for="Rol" class="form-label">Rol</label>
                                        <select class="form-control" name="rol" id="rol">
                                            <option value="Admin">Administrador</option>
                                            <option value="Asesor" selected>Asesor</option>
                                            <option value="Guia">Guia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="usernNombreame" class="form-label">Nombre:</label>
                                                <input id="name" name="name" type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label for="DNI" class="form-label">DNI:</label>
                                                <input id="id_user" name="id_user" type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Apellidos" class="form-label">Apellidos:</label>
                                                <input id="apellidos" name="apellidos" type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label for="phone" class="form-label">Telefono:</label>
                                                <input id="phone" name="phone" type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="Usuario" class="form-label">Usuario:</label>
                                                <input id="username" type="text" name="username" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label for="username" class="form-label">Correo:</label>
                                                <input id="email" name="email" type="text" class="form-control" onkeyup="isValidEmailAddress();" />
                                            </div>
                                            <div class="form-group">
                                                <label for="pswd" class="form-label">Contraseña:</label>
                                                <input id="pswd" type="password" name="pswd" class="form-control pswd" />
                                                <div id="pswd_info">
                                                    <h4 id="focus">La contraseña debe tener:</h4>
                                                    <ul>
                                                        <li id="letter" class="invalid">Letras <strong>minúsculas</strong></li>
                                                        <li id="capital" class="invalid">Letras <strong>mayúsculas</strong></li>
                                                        <li id="number" class="invalid">Al menos <strong>un número</strong></li>
                                                        <li id="length" class="invalid">Debe tener <strong>8 o mas caracteres</strong></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="pswd" class="form-label">Confirmar contraseña:</label>
                                                <input id="pswd2" type="password" name="pswd2" class="form-control pswd" />
                                                <br>
                                                <button class="btn btn-outline-secondary" type="button" id="ver">
                                                    <fa class="fa eye fa-eye-slash" id="eye"></fa>
                                                </button>
                                            </div>
                                        </div>
                                        <div>
                                            <div id="error" class="col-12 d-flex justify-content-center align-items-center"></div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center ">
                                        <a href="/" class="btn btn-danger">Cancelar</a>
                                        <button id="validation" class="btn btn-primary ">Crear</button>
                                        <input type="submit" value="Crear" name="save" id="save">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </main>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#file_upload')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        //for the pw field - toggle visibility
        $("#ver").on("click", function() {
            var $pswd = $(".pswd");
            var $eye = $("#eye");
            if (!$eye.is(".show")) {
                $eye.addClass("show")
                    .removeClass("fa-eye-slash")
                    .addClass("fa-eye");
                $pswd.attr("type", "text");
            } else {
                $eye.removeClass("show")
                    .addClass("fa-eye-slash")
                    .removeClass("fa-eye");
                $pswd.attr("type", "password");
            }
        });
        var pswdLength;
        var pswdLetter;
        var pswdCapital;
        var pswdNumber;
        $('#pswd').keyup(function() {
            var pswd = $(this).val();
            //validate the length

            if (pswd.length < 8) {
                $('#length').removeClass('valid').addClass('invalid');
                pswdLength = 1;
            } else {
                $('#length').removeClass('invalid').addClass('valid');
            }
            //validate letter
            if (pswd.match(/[a-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
                pswdLetter = 1;
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
            }

            //validate capital letter
            if (pswd.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
                pswdCapital = 1;
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
            }

            //validate number
            if (pswd.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
                pswdNumber = 1;
            } else {
                $('#number').removeClass('valid').addClass('invalid');
            }
        }).focus(function() {
            $('#pswd_info').show();
        }).blur(function() {
            $('#pswd_info').hide();
        });

        $("#validation").click(function(e) {
            var errorMessage = "";
            event.preventDefault();

            function isValidEmailAddress(emailAddress) {
                var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
                return pattern.test(emailAddress);
            };
            if ($("#email").val() == "") {
                errorMessage += "</br>Dijite el correo electrónico."
                $("#error").html(errorMessage);
            } else if (!isValidEmailAddress($("#email").val())) {
                errorMessage += "</br>Por favor verifique el correo."
                $("#error").html(errorMessage);
            }
            if ($("#phone").val() == "") {
                errorMessage += "</br>Dijite el número de telefono."
                $("#error").html(errorMessage);
            } else if (!$.isNumeric($("#phone").val())) {
                errorMessage += "</br>Por favor verifique el telefono.";
                $("#error").html(errorMessage);
            }
            if ($("#id_user").val() == "") {
                errorMessage += "</br>Dijite el documento de identidad."
                $("#error").html(errorMessage);
            } else if (!$.isNumeric($("#id_user").val())) {
                errorMessage += "</br>Por favor verifique el documento de identidad.";
                $("#error").html(errorMessage);
            }
            if ($("#pswd").val() == "") {
                errorMessage += "</br>Dijite la contraseña."
                $("#error").html(errorMessage);
            } else if ((pswdLength == null) || (pswdLetter == null) || (pswdCapital == null) || (pswdNumber == null)) {
                errorMessage += "</br>La contraseña no cumple con los requisitos minimos de seguridad."
                $("#error").html(errorMessage);
            } else if ($("#pswd2").val() == "") {
                errorMessage += "</br>Debe confirmar la contraseña."
                $("#error").html(errorMessage);
            } else if ($("#pswd").val() !== $("#pswd2").val()) {
                errorMessage += "</br>Las contraseñas no coinciden."
                $("#error").html(errorMessage);
            }
            if (errorMessage == "") {
                $("#save").click();
            }

        });
    </script>
</body>
</html>