<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Transfers</title>
    <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://unpkg.com/html2pdf.js"></script>
    <style>
        .card {
            background: #2a2f3a;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .form-style {
            padding-left: 13px;
            height: 40px;
            width: 100%;
            font-weight: 500;
            border-radius: 4px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.5px;
            outline: none;
            color: #c4c3ca;
            background-color: #1f2029;
            border: none;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
            box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.2);
        }

        .form-styleSelect {
            padding-left: 13px;
            width: 100%;
            font-weight: 500;
            border-radius: 4px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.5px;
            outline: none;
            color: #c4c3ca;
            background-color: #1f2029;
            border: none;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
            box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.2);
        }

        :root {
            --bg: #f3f3f3;
            --red: rgb(250, 71, 71);
            --transition-easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }


        input[type=checkbox] {
            display: none;
        }

        input[type=checkbox]:checked+label.checkbox .checkbox__inner .red__ball {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
            transition-delay: 150ms;
        }

        input[type=checkbox]:checked~.checkbox__text {
            opacity: 1;
        }

        input[type=checkbox]:checked~.checkbox__text .checkbox__text--options span.off {
            transform: translateY(150%);
            opacity: 0;
        }

        input[type=checkbox]:checked~.checkbox__text .checkbox__text--options span.on {
            transform: translateY(0%);
            opacity: 1;
        }

        .checkbox {
            --size: 50px;
            display: block;
            width: var(--size);
            height: var(--size);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: var(--bg);
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12), 2px 2px 6px rgba(0, 0, 0, 0.05), 2px 2px 10px rgba(0, 0, 0, 0.025), inset -2px -2px 3px rgba(0, 0, 0, 0.05), inset -2px -2px 8px rgba(0, 0, 0, 0.02), inset 1px 3px 3px rgba(255, 255, 255, 0.45), inset 3px 8px 25px rgba(255, 255, 255, 0.35), inset 3px 2px 3px rgba(255, 255, 255, 0.35), inset 3px 2px 5px rgba(255, 255, 255, 0.2), inset 2px 3px 8px rgba(255, 255, 255, 0.085), inset 3px 2px 18px rgba(255, 255, 255, 0.05), inset 2px 3px 25px rgba(255, 255, 255, 0.025), inset 8px 8px 18px rgba(255, 255, 255, 0.1), inset 8px 8px 25px rgba(255, 255, 255, 0.05);
            cursor: pointer;
        }

        .checkbox .checkbox__inner {
            position: relative;
            width: calc(var(--size) / 1.75);
            height: calc(var(--size) / 1.75);
            border-radius: 50%;
            background: var(--bg);
            box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.12), inset 2px 2px 5px rgba(0, 0, 0, 0.08), inset 3px 3px 12px rgba(0, 0, 0, 0.05), inset 4px 5px 16px rgba(0, 0, 0, 0.035), inset 0px -1px 2px rgba(255, 255, 255, 0.45), inset -1px -1px 3px rgba(255, 255, 255, 0.45), inset -1px -1px 2px rgba(255, 255, 255, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.12), 2px 2px 2px rgba(255, 255, 255, 0.12), 2px 2px 3px rgba(255, 255, 255, 0.1), 2px 2px 5px rgba(255, 255, 255, 0.08), 6px 6px 15px rgba(0, 0, 0, 0.014), 8px 8px 18px rgba(0, 0, 0, 0.08), 12px 12px 28px rgba(0, 0, 0, 0.04);
        }

        .checkbox .checkbox__inner .red__ball {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0.5);
            opacity: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: var(--red);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.12), inset -4px -5px 12px rgba(0, 0, 0, 0.12), inset -5px -6px 12px rgba(0, 0, 0, 0.08), inset 0px -6px 18px rgba(0, 0, 0, 0.06), 2px 1px 8px rgba(255, 112, 112, 0.32), 3px 2px 12px rgba(255, 112, 112, 0.15), 4px 4px 18px rgba(255, 112, 112, 0.08);
            transition: transform 250ms var(--transition-easing), opacity 300ms var(--transition-easing);
            transition-delay: 120ms;
        }

        .checkbox .checkbox__inner .red__ball::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 25%;
            transform: translate(-50%, -50%);
            background: rgb(255, 204, 204);
            width: 35%;
            height: 15%;
            filter: blur(4px);
        }

        a.pdf {
            background: #0063a0;
            border-radius: 4px;
            box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
            color: #ffffff;
            padding: 3px 10px 4px;
            display: inline-block;
            position: relative;
            text-decoration: none;
            transition: all 0.1s 0s ease-out;
        }

        a.edit {
            background: #ffd900;
            border-radius: 4px;
            box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
            color: #ffffff;
            padding: 3px 10px 4px;
            display: inline-block;
            position: relative;
            text-decoration: none;
            transition: all 0.1s 0s ease-out;
        }

        a.delete {
            background: #c10303;
            border-radius: 4px;
            box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
            color: #ffffff;
            padding: 3px 10px 4px;
            display: inline-block;
            position: relative;
            text-decoration: none;
            transition: all 0.1s 0s ease-out;
        }

        .page-wrapper {
            padding-top: 5%;
            display: flex;
            -webkit-display: flex;
            justify-content: space-around;
        }

        .card-wrapper {
            box-sizing: border-box;
            background: #1f2029;
            border-radius: 6px;
            max-height: 100px;
            overflow: hidden;
            padding: 2rem;
            width: 400px;
            transition: max-height 500ms ease-in-out;
        }

        .card-wrapper:hover {
            box-shadow: 0 0 8px rgba(20, 20, 20, 0.2);
            cursor: pointer;
            max-height: 1000px;
        }

        .card-details,
        .reveal-details {
            font-weight: 300;
        }

        .reveal-details {
            margin-top: 10px;
        }

        .card-height-animate {
            height: 1000px;
        }

        .pdf {
            max-height: 1000px;
        }

        button {
            margin: 20px;
        }

        .custom-btn {
            width: 130px;
            height: 40px;
            color: #fff;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow: inset 2px 2px 2px 0px rgba(31, 31, 31, 0.5),
                7px 7px 20px 0px rgba(0, 0, 0, .1),
                4px 4px 5px 0px rgba(0, 0, 0, .1);
            outline: none;
        }

        .btn-2 {
            background: rgb(96, 9, 240);
            background: linear-gradient(0deg, rgb(84, 16, 192) 0%, rgb(98, 5, 180) 100%);
            border: none;

        }

        .btn-2:before {
            height: 0%;
            width: 2px;
        }

        .btn-2:hover {
            box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5),
                -4px -4px 6px 0 rgba(26, 26, 26, 0.5),
                inset -4px -4px 6px 0 rgba(46, 46, 46, 0.2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
        }

        input.sw {
            opacity: 0;
            position: absolute;
            left: -9999px;
        }

        input.sw+label {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: 0.2s ease;
            display: inline-block;
            height: 30px;
            width: 51px;
            position: relative;
            box-shadow: inset 0 0 0px 2px #e4e4e4;
            border-radius: 60px;
            /* White toggle */
        }

        input.sw+label:before {
            content: "";
            position: absolute;
            display: block;
            height: 30px;
            width: 30px;
            top: 0;
            left: 0;
            border-radius: 15px;
            background: rgba(76, 217, 100, 0);
            transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
        }

        input.sw+label:after {
            content: "";
            position: absolute;
            display: block;
            height: 28px;
            width: 28px;
            top: 50%;
            margin-top: -14px;
            left: 1px;
            border-radius: 60px;
            background: #fff;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0px 0 rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.13), 0 3px 3px rgba(0, 0, 0, 0.05);
            transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
        }

        input.sw+label span {
            white-space: nowrap;
            height: 30px;
            line-height: 30px;
            margin-left: 51px;
            padding-left: 16px;
        }

        input.sw:checked+label:before {
            width: 51px;
            background: #4cd964;
            transition: width 0.2s cubic-bezier(0, 0, 0, 0.1) !important;
        }

        input.sw:checked+label:after {
            left: 22px;
        }

        input.sw:checked+label {
            box-shadow: inset 0 0 0px 25px #e4e4e4;
            transition: box-shadow 2.5s cubic-bezier(0, 1.2, 0.94, 0.95);
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="card-header">
            <div class="input-group">
                <h3 class="mb-0"><strong>Transfer</strong> &nbsp;</h3>
            </div><br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="">Fecha del servicio</label>
                        <input type="date" name="FechaTransfer" id="FechaTransfer" class="form-style mayusculas ">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="">Fecha de registro</label>
                        <input type="date" name="FechaRegistro" id="FechaRegistro" class="form-style mayusculas ">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="form-label">Tipo de servicio</label>
                        <select class="form-styleSelect mayusculas Select" multiple="multiple" name="Servicio"
                            id="Servicio">
                            <% if (typeof resultsServicio !="undefined" ){ resultsServicio.forEach((Servicio)=>{
                                %>
                                <option value="<%= Servicio.id %>">
                                    <%= Servicio.Servicio %>
                                </option>
                                <% }) } %>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="">Id de Transfer</label>
                        <input type="text" name="Transfer" id="Id_Transfer" class="form-style mayusculas ">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="">Nombres y Apellidos del Titular</label>
                        <input type="text" name="NombreApellido" id="NombreApellido" class="form-style mayusculas ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group mx-sm-3 mb-2">
                        <label class="fw-bold">Estado de la reserva</label>
                        <select class="form-styleSelect" name="Estado" id="Estado" multiple="multiple">
                            <option value="Activo">ACTIVO</option>
                            <option value="Pendiente">PENDIENTE</option>
                            <option value="Completado">COMPLETADO</option>
                            <option value="Cancelado">CANCELADO</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <br>
                    <div class="mx-sm-3 mb-2">
                        <input type="checkbox" id="empty" name="toggle" value="Check" class="mx-sm-3 mb-2 sw"> <label
                            for="empty"><span>Sin información</span>
                        </label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group mx-sm-3 mb-2">
                        <button class="custom-btn btn-2 " id="filtrar">Filtrar</button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>


        <div class="card-body">
            <div id="cardds">
                <div class="cardds">
                    <div id="cardContainer" class="page-wrapper row"></div>
                </div>
                <div id="NoData">
                    <a class="list-group-item list-group-item-action list-group-disabled-bg disabled ">No hay datos</a>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var zindex = 10;

            $("#NoData").hide()
            card = (id) => {

                var isShowing = false;

                if ($('#' + id + '').hasClass("show")) {
                    isShowing = true
                }

                if ($("div.cardds").hasClass("showing")) {
                    // a cardd is already in view
                    $("div.cardd.show")
                        .removeClass("show");

                    if (isShowing) {
                        // this cardd was showing - reset the grid
                        $("div.cardds")
                            .removeClass("showing");
                    } else {
                        // this cardd isn't showing - get in with it
                        $('#' + id + '')
                            .css({ zIndex: zindex })
                            .addClass("show");

                    }

                    zindex++;

                } else {
                    // no cardds in view
                    $("div.cardds")
                        .addClass("showing");
                    $('#' + id + '')
                        .css({ zIndex: zindex })
                        .addClass("show");

                    zindex++;
                }

            };
        });

        Filtro = (Servicio = '', FechaTransfer = '', FechaRegistro = '', Id_Transfer = '', Empty = '', NombreApellido = '', Estado) => {
            fetch('/VerTransfer/FiltroVerTransfer?Servicio=' + Servicio + '&FechaTransfer=' + FechaTransfer + '&FechaRegistro=' + FechaRegistro + '&Id_Transfer=' + Id_Transfer + '&Empty=' + Empty + '&NombreApellido=' + NombreApellido + '&Estado=' + Estado + '').then(function (response) {
                return response.json();
            }).then(function (responseData) {
                var cardContainer = document.getElementById("cardContainer");

                // Limpiar contenido existente en el contenedor
                cardContainer.innerHTML = '';

                if (responseData.length > 0) {
                    $("#NoData").hide();

                    responseData.forEach(function (Transfer) {
                        var cardHTML = `
                    <div class="card-wrapper col-12 mb-3" id="${Transfer.Id_Transfer}">
                        <div class="card-details">
                            <h3 class="card-title">${Transfer.Id_Transfer}</h3>
                        </div><!-- end card-details -->
                        <br>
                        <div class="reveal-details">
                            <h3>Estado: ${Transfer.Estado}</h3>
                            <br>
                            <p>Titular: ${Transfer.Titular}</p>
                            <p>Teléfono: ${Transfer.Tel_Contacto}</p>
                            <p>Fecha Transfer: ${Transfer.FechaTransfer}</p>
                            <p># Vuelo: ${Transfer.Vuelo}</p>
                            <p>Número de Pasajeros: ${Transfer.NumeroPasajeros}</p>
                            <p>Servicio: ${Transfer.Servicio}</p>
                            <p>Punto de Salida: ${Transfer.Salida}</p>
                            <p>Punto de Llegada: ${Transfer.Llegada}</p>
                            <p>Valor de Servicio: ${Transfer.ValorServicio}</p>
                            <p>Hora de Recogida: ${Transfer.HoraRecogida}</p> 
                            <p id="FechaRegistro${Transfer.Id_Transfer}">Fecha de Registro: ${Transfer.FechaRegistro}</p>
                        </div><!-- end reveal-details -->
                        <div class="cardd-flap flap2">
                            <div class="cardd-actions">
                                <a class="pdf" onclick="PDF('${Transfer.Id_Transfer}');">
                                    <iconify-icon icon="material-symbols:download" style="color: white;" width="30" height="30"></iconify-icon>
                                </a>
                                <a href="../Transfer/EditarTransfer/${Transfer.Id_Transfer}" class="edit">
                                    <iconify-icon icon="material-symbols:edit" style="color: white;" width="30" height="30"></iconify-icon>
                                </a>
                            </div>
                        </div>
                    </div><!-- end card-wrapper -->`;

                        cardContainer.innerHTML += cardHTML;
                    });
                } else {
                    $("#NoData").show();
                }
            });
        }


        $("#filtrar").click(function () {
            var Servicio = $('#Servicio').val();
            var FechaTransfer = $('#FechaTransfer').val();
            var FechaRegistro = $('#FechaRegistro').val();
            var Id_Transfer = $('#Id_Transfer').val();
            var NombreApellido = $('#NombreApellido').val();
            var Estado = $("#Estado").val();
            var Empty = '';
            $("#empty").each(function () {
                if ($(this).is(":checked")) {
                    Empty = $(this).val();
                }
            })
            if ((Servicio != '') || (FechaTransfer != '') || (FechaRegistro != '') || (Id_Transfer != '') || (Empty != '') || (NombreApellido != '') || (Estado != '')) {
                Filtro(Servicio, FechaTransfer, FechaRegistro, Id_Transfer, Empty, NombreApellido, Estado);
            }
        });
        $("#deshacer").click(function () {
            $(".cardd").show();
            $("#NoData").hide();
        });

        function PDF(Id_Reserva) {
            var cardElement = document.getElementById(Id_Reserva);

            // Ajusta el tamaño de la tarjeta para que abarque toda la pantalla
            cardElement.classList.add('pdf');
            $('.cardd-actions').hide();
            $('#FechaRegistro' + Id_Reserva).hide();
            $('#TelefonoTransfer' + Id_Reserva).hide();
            // Genera el PDF con html2pdf y establece el nombre del archivo
            html2pdf(cardElement, {
                filename: Id_Reserva,  // Cambia 'nombre_del_archivo' por el nombre deseado
            }).then(() => {
                cardElement.classList.remove('pdf');
                $('.cardd-actions').show();
                $('#FechaRegistro' + Id_Reserva).show();
                $('#TelefonoTransfer' + Id_Reserva).show();
            });
        }

    </script>


</body>

</html>